body {
  background-color: rgb(37, 37, 38);
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.title {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border-radius: 50%;
  background-color: #fff;
}


.set-access-token-title {
  margin-bottom: 15px;
}
.access-token-input {
  margin-bottom: 10px;
}
.set-access-token-btn {
  margin-bottom: 15px;
  color: #fff;
}

.set-access-token-help-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
